/* Dropdown animation */

.dropdown, .dropdown2 {
  padding: 35px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100;
}

.dropdown > a, .dropdown2 > a {
  color: var(--txtbaseCol);
} 

.menu {
  margin: 0;
  display: flex;
  justify-content: center;
}

.smallm {
  display: none;
  float: right;
}

.dropdown:hover, .smallmclc  {
  cursor: pointer;
}
.dropdown:hover .dropdown_menu li, .smallmclc .dropdown_menu li {
  display: block;
}
.dropdown_menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}
.dropdown_menu li {
  display: none;
  color: var(--txtbaseCol);
  background-color: var(--navbarcol);
  padding: 10px 20px;
  font-size: 16px;
  opacity: 0;
  letter-spacing: 0px;
  transition: all 0.2s linear;
}
.dropdown_menu li:hover {
  color: var(--txtcol2);
  background-color: var(--maincol3);
  font-weight: 600;
}
.dropdown:hover .dropdown_menu--animated, .smallmclc .dropdown_menu--animated {
  display: block;
}
.dropdown_menu--animated {
  display: none;
}
.dropdown_menu--animated li {
  display: block;
  opacity: 1;
}

/* Indvidual animate style */
.dropdown_menu-7 {
  animation: rotateMenu 1000ms ease-in-out forwards;
  transform-origin: top center;
}

.dropdown_menu-9 {
  animation: growOut 500ms ease-in-out forwards;
  transform-origin: top center;
}

@-moz-keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-o-keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@-moz-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}



/* Animated menu icon */
.menuconta {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--txtbaseCol);
  margin: 6px 0;
  transition: 0.5s;
}

.smallmclc .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.smallmclc .bar2{opacity: 0;}

.smallmclc .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


/* Fade in */
.und a {
  /* display: block; */
  position: relative;
}

.und a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--txtcol2);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.und a:hover::after,
.und a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* Slide in */
.undsld a {
  overflow: hidden;
}

.undsld a::after {
  opacity 1;
  transform: translate3d(-100%, 0, 0);
}

.undsld a:hover::after,
.undsld a:focus::after{
  transform: translate3d(0, 0, 0);
}

/* Scale from center */
.undsc a::after {
  opacity 1;
  transform: scale(0);
  transform-origin: center;
}

.undsc a:hover::after,
.undsc a:focus::after{
  transform: scale(1);
}









