/* -------------------------------------------------- */
/*                     Fonts                          */
/* -------------------------------------------------- */

@font-face {
    font-family: 'Barlow Semi CondensedBarlow Semi Condensed';
    src: url("../res/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf");
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url("../res/fonts/Montserrat/Montserrat-Light.ttf");
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Odibee Sans';
    src: url("../res/fonts/Odibee_Sans/OdibeeSans-Regular.ttf");
  }
  
  @font-face {
    font-family: 'Poppins'; 
    src: url("../res/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 300;
  }
  
  
  /* 
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Odibee Sans', cursive;
  font-family: 'Poppins', sans-serif; 
  */