/* -------------------------------------------------- */
/*                    Adbar                           */
/* -------------------------------------------------- */

#adbar {
    width: 100%;
    min-width: 629px;
    text-align: center;
    z-index: -1;
    
}

#adbar video {
    z-index: -1;
}

#adbaroverlay {
    padding-top: 80px;
    background-color: #00000072;
    width: 100%;
    height: calc(100vw * 0.55 - 80px);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    min-height: 265px;
    padding-bottom: 50px;
}



/* -------------------------------------------------- */
/*                Meet The Coaches                    */
/* -------------------------------------------------- */

#mtchcs {
    /* position: absolute; */
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
    z-index: 2;
    opacity: 0.97;
}

.subdiv {
    width: calc(50% - 40px);
    /* min-width: calc(100% - 20px); */
    height: 500px;
    font-family: 'Montserrat', sans-serif;
    /* float: left; */
    min-width: 380px;
    max-width: 600px;
    /* margin-bottom: 30px; */
}

.subdiv div {
    float: left;
}

.descdiv {
    width: 150px;
    padding: 10px;
    height: calc(100% - 20px);
}

.imgtxtdiv {
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size: contain;
    
}

#angch .imgtxtdiv {
    background-image: url("../res/images/ang2.png");
    /* margin-left: -10px; */
    
}

#angch .descdiv {
    padding-left: 40px;
    margin-left: -40px; 
    float: right;
    right: 0;
    text-align: right;
    background: linear-gradient(90deg, 
                rgba(255,255,255,0) 0%, 
                rgba(238,238,238,0.5) 6%, 
                rgba(238,238,238,0.9) 12%, 
                var(--maincol3) 18%);
}

#danch .imgtxtdiv {
    background-image: url("../res/images/daniella2.png");
    background-position: right;
    
}

#danch .descdiv {
    padding-right: 60px;
    text-align: left;
    background: linear-gradient(90deg, 
                var(--maincol3) 82%,
                rgba(238,238,238,0.9) 88%, 
                rgba(238,238,238,0.5) 94%,
                rgba(255,255,255,0) 100%);
}


/* -------------------------------------------------- */
/*                Success stories                     */
/* -------------------------------------------------- */


#rvws {
    width: 100%;
    height: 450px;
    border: 1px var(--maincol3);

    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding-bottom: 150px;

    /* background-color: ; */

    background: linear-gradient(to bottom right,transparent 50%,#2B2B2B 0) bottom right/70px 70px no-repeat,
                linear-gradient(to bottom right,transparent 50%,#6D6D6D 0) bottom right/140px 140px no-repeat,
                linear-gradient(to bottom right,transparent 50%,#999 0) bottom right/210px 210px no-repeat,

                linear-gradient(to top left,transparent 50%,#2B2B2B 0) top left/70px 70px no-repeat,
                linear-gradient(to top left,transparent 50%,#6D6D6D 0) top left/140px 140px no-repeat,
                linear-gradient(to top left,transparent 50%,#999 0) top left/210px 210px no-repeat,
                var(--maincol3);
}

#rvws h2 {
    margin: 0;
}


/* Flip card */

.flip-card {
    /* background-color: transparent; */
    width: 300px;
    margin: 20px 10px;
    margin-bottom: 180px;
    height: 300px;
    perspective: 1000px;
  }


.flip-card-inner img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 0px 8px 0px #727272b0;
  }

.halft img {
    opacity: 0.2;
}
  
  .flip-card:hover .flip-card-inner {
    transform: rotateX(-180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: contain;
  }
  
  /* .flip-card-front { */
    /* background-color: #bbb; */
    /* color: black; */
  /* } */
  
  .flip-card-back {
    color: black;
    transform: rotateX(180deg);
  }



/* -------------------------------------------------- */
/*                Plan Giveaway                       */
/* -------------------------------------------------- */


#plangiv {
    width: 100%;
    border: 1px var(--maincol3);
    margin: 20px 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}


#gadiv {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 320px;
    width: 400px;
    align-self: center;
    padding: 20px 15px; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#gadiv p {
    letter-spacing: 3px;
}

#gftdiv img {
    content: url("../res/images/bb.png");
    max-width: min(100vw, 500px);
    max-height: 700px;
    width: auto;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=text], input[type=email], button {
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    margin: 10px 30px;
    border-radius: 4px;
    transition: all 0.1s linear;
}

input[type=text], input[type=email] {
    border: 1px solid var(--maincol2);
    
}

input[type=text]:hover, input[type=email]:hover {
    box-shadow: 0 0 4px 0px var(--maincol2);
    background-color: var(--maincol3);
}

input[type=text]:focus-visible, input[type=email]:focus-visible {
    box-shadow: 0 0 8px 1px var(--maincol2);
    border: 1px solid var(--maincol2);
    outline-width: 0;
    background-color: white;
}

button {
    color: var(--txtbaseCol);
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--maincol2);
    letter-spacing: 1px;
    word-spacing: 3px;
    font-family: 'Poppins', sans-serif; 
    cursor: pointer;
    border: 1px solid #00000000;
    
}

button:hover {
    background-color: #eee;
    box-shadow: 0 0 4px 1px var(--maincol2);
    color: var(--maincol2);
}

button:active {
    background-color: var(--maincol1);
    color: var(--txtbaseCol);
}


/* -------------------------------------------------- */
/*                  Site Map                          */
/* -------------------------------------------------- */

#stwght {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
    position: relative;
    min-height: 380px;
}

#stwght h2 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
}

#stwght h3 {
    padding: 0;
    margin: 0;
    margin-top: -20px;
    font-family: 'Montserrat', sans-serif;
    color: var(--maincol4);
    font-size: 0.8em;
    text-align: right;
}

#mp {
    /* padding-top: 20px; */
    margin-right: 70px;
    width: min(100vw, 500px);
}

#mp .rt > div {
    transform: rotate(-17deg);
    padding-top: 70px;
}

.rt {
    height: 220px;
    width: 100%;
}

#ssti {
    background-image: url("../res/images/jss.png");
    object-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 400px;
    
}

#ssti img {
    max-width: min(100vw, 500px);
    max-height: 700px;
    width: auto;
    height: auto;
    opacity: 0;
    min-width: 400px;
}

#sitmenu {
    position: absolute;
    bottom: 0;
}

#sitmenu ul {
    list-style: none;
    font-family: 'Poppins', sans-serif; 
    text-transform: uppercase;
    font-weight: 600;
}

#sitmenu i {
    float: right;
}

#sitmenu > ul > li {
    width: 300px;
    padding: 1em 0;
    cursor: pointer;
}

#sitmenu > ul > .spcr {
    background-color: var(--maincol4);
    padding: 0;
    height: 1px;
    cursor: default;
}

.subm li {
    height: 0;
    overflow-y: hidden;
    transition: height 0.2s linear;
}




/* -------------------------------------------------- */
/*                Contact Us                          */
/* -------------------------------------------------- */


#cntcus {
    width: 100%;
    /* height: 300px; */
    border: 1px var(--maincol3);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--maincol3);
    color: var(--maincol2);
    font-family: 'Poppins', sans-serif; 
}

#cntcus h2 {
    color: var(--maincol2);
    height: 1em;

}

#cntcus div {
    width: 300px;
    height: 200px;
}

#cntcus h3 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    /* margin: 10px 0; */
}

#cntcus a {
    /* text-decoration: underline; */
    color: var(--txtcol2);
    text-shadow: 0 0px 1px var(--maincol2);
    transition: all 0.2s linear;
}

#cntcus td + .und {
    user-select:text; /* supported by Chrome and Opera */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
}


#cntcus a:hover {
    color: var(--txtcol2)
}





#dets {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: var(--maincol2);
    color: var(--txtbaseCol);
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
    text-align: center;
    letter-spacing: 2px;
}

#dets span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}




@media all and (min-width: 1600px) {
    #mtchcs {
        margin: 0 calc((100vw - 90%)/2);
        
        justify-content: space-between;
        width: 90%;
        
    }

    #adbar {
        margin-bottom: calc((1600px - 100vw) * 0.95);
    }

    #adbaroverlay {
        padding-bottom: calc((1600px - 100vw) * 0.9);
    }
}






