/* -------------------------------------------------- */
/*                    Adbar                           */
/* -------------------------------------------------- */

#adbar {
    width: 100%;
    min-width: 629px;
    text-align: center;
    z-index: -1;
    
}

#adbar video {
    z-index: -1;
}

#adbaroverlay {
    padding-top: 80px;
    background-color: #00000072;
    width: 100%;
    height: calc(100vw * 0.55 - 80px);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    min-height: 265px;
    padding-bottom: 50px;
}



/* -------------------------------------------------- */
/*                Meet The Coaches                    */
/* -------------------------------------------------- */

#mtchcs {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
    z-index: 2;
    opacity: 0.97;
}

.subdiv {
    width: calc(50% - 40px);
    height: 500px;
    font-family: 'Montserrat', sans-serif;
    min-width: 380px;
    max-width: 600px;
}

.subdiv div {
    float: left;
}

.descdiv {
    width: 150px;
    padding: 10px;
    height: calc(100% - 20px);
}

.imgtxtdiv {
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size: contain;
    
}

#angch .imgtxtdiv {
    background-image: url("../res/images/ang2.png");
}

#angch .descdiv {
    padding-left: 40px;
    margin-left: -40px; 
    float: right;
    right: 0;
    text-align: right;
    background: linear-gradient(90deg, 
                rgba(255,255,255,0) 0%, 
                rgba(238,238,238,0.5) 6%, 
                rgba(238,238,238,0.9) 12%, 
                var(--maincol3) 18%);
}

#danch .imgtxtdiv {
    background-image: url("../res/images/daniella2.png");
    background-position: right;
    
}

#danch .descdiv {
    padding-right: 60px;
    text-align: left;
    background: linear-gradient(90deg, 
                var(--maincol3) 82%,
                rgba(238,238,238,0.9) 88%, 
                rgba(238,238,238,0.5) 94%,
                rgba(255,255,255,0) 100%);
}


/* -------------------------------------------------- */
/*                Success stories                     */
/* -------------------------------------------------- */


#rvws {
    width: 100%;
    height: 600px;
    border: 1px var(--maincol3);

    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;

    padding-bottom: 150px;

    /* background:  */
    /* linear-gradient(to bottom right,transparent 50%,#2B2B2B 0) bottom right/70px 70px no-repeat,
                linear-gradient(to bottom right,transparent 50%,#6D6D6D 0) bottom right/140px 140px no-repeat,
                linear-gradient(to bottom right,transparent 50%,#999 0) bottom right/210px 210px no-repeat,

                linear-gradient(to top left,transparent 50%,#2B2B2B 0) top left/70px 70px no-repeat,
                linear-gradient(to top left,transparent 50%,#6D6D6D 0) top left/140px 140px no-repeat,
                linear-gradient(to top left,transparent 50%,#999 0) top left/210px 210px no-repeat, */
                /* var(--maincol3); */
}

.bcgrnddiv {
    background: var(--maincol3);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.comcrs {
    height: 90%;
    width: 100%;   
}

.comh1 {
    height: 25%;
    right: 0;
    bottom: 0;
    transform: rotate(30deg);
    margin-right: 60px;
    margin-bottom: 10px;
}

.comh2 {
    height: 20%;
    right: 0;
    bottom: 0;
    transform: rotate(-20deg);
    margin-right: 160px;
    margin-bottom: 10px;
}

.bcgrnddiv svg path {
    fill:#B7AAA8;
}

.comh1 svg path {
    fill:var(--maincol2);
}

#rvws h2 {
    margin: 0;
}

#imagdiv {
    width: max(80%, 400px);
    height: 600px;
    display: grid;
    grid-template-columns: repeat(25, calc(3.4%));
    grid-template-rows: repeat(15, 6%);
    grid-gap: calc(0.6%);
}
#imagdiv img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#imagdiv section:nth-child(-n+5) {
    justify-content:flex-end;
}

#imagdiv section:nth-child(n+6) {
    justify-content:flex-start;
}

/* First Row */

#imagdiv section:nth-of-type(1) {
    grid-column: 1 / span 4;
    grid-row: 1 / span 7;
}

#imagdiv section:nth-of-type(2) {
    grid-column: 5 / span 4;
    grid-row: 1 / span 7;
}

#imagdiv section:nth-of-type(3) {
    grid-column: 9 / span 9;
    grid-row: 1 / span 3;
}

#imagdiv section:nth-of-type(4) {
    grid-column: 18 / span 4;
    grid-row: 1 / span 7;
}

#imagdiv section:nth-of-type(5) {
    grid-column: 22 / span 4;
    grid-row: 1 / span 7;
}

/* Second row */

#imagdiv section:nth-of-type(6) {
    grid-column: 2 / span 3;
    grid-row: 8 / span 7;
}

#imagdiv section:nth-of-type(7) {
    grid-column: 5 / span 4;
    grid-row: 8 / span 7;
}

#imagdiv section:nth-of-type(8) {
    grid-column: 9 / span 4;
    grid-row: 4 / span 7;
    justify-content: flex-end;
}

#imagdiv section:nth-of-type(9) {
    grid-column: 14 / span 4;
    grid-row: 4 / span 7;
    justify-content: flex-end;
}

#imagdiv section:nth-of-type(10) {
    grid-column: 18 / span 4;
    grid-row: 8 / span 7;
}
#imagdiv section:nth-of-type(11) {
    grid-column: 22 / span 3;
    grid-row: 8 / span 7;
}

/* Middle Third */

#imagdiv section:nth-of-type(12) {
    grid-column: 9 / span 4;
    grid-row: 11 / span 5;
    
}
#imagdiv section:nth-of-type(13) {
    grid-column: 14 / span 4;
    grid-row: 11 / span 5;
}

#imagdiv h3 {
    font-weight: 400;
    color: #B7AAA8;
    letter-spacing: 4px;
    max-width: 440px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

/* -------------------------------------------------- */
/*                Plan Giveaway                       */
/* -------------------------------------------------- */


#plangiv {
    width: 100%;
    border: 1px var(--maincol3);
    margin: 20px 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}


#gadiv {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 320px;
    width: 400px;
    align-self: center;
    padding: 20px 15px; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#gadiv p {
    letter-spacing: 3px;
}

#gftdiv img {
    content: url("../res/images/bb.png");
    max-width: min(100vw, 500px);
    max-height: 700px;
    width: auto;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=text], input[type=email], button {
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    margin: 10px 30px;
    border-radius: 4px;
    transition: all 0.1s linear;
}

input[type=text], input[type=email] {
    border: 1px solid var(--maincol2);
    
}

input[type=text]:hover, input[type=email]:hover {
    box-shadow: 0 0 4px 0px var(--maincol2);
    background-color: var(--maincol3);
}

input[type=text]:focus-visible, input[type=email]:focus-visible {
    box-shadow: 0 0 8px 1px var(--maincol2);
    border: 1px solid var(--maincol2);
    outline-width: 0;
    background-color: white;
}

button {
    color: var(--txtbaseCol);
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--maincol2);
    letter-spacing: 1px;
    word-spacing: 3px;
    font-family: 'Poppins', sans-serif; 
    cursor: pointer;
    border: 1px solid #00000000;
    
}

button:hover {
    background-color: #eee;
    box-shadow: 0 0 4px 1px var(--maincol2);
    color: var(--maincol2);
}

button:active {
    background-color: var(--maincol1);
    color: var(--txtbaseCol);
}


/* -------------------------------------------------- */
/*                  Site Map                          */
/* -------------------------------------------------- */

#stwght {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
    position: relative;
    min-height: 420px;
    overflow-x: hidden;
}

#stwght h2 {
    padding: 0;
    margin: 0;
    font-size: 4.0em;
    width: 80%;
    margin-left: calc(15%);
}

#stwght h3 {
    padding: 0;
    margin: 0;
    margin-top: -20px;
    font-family: 'Montserrat', sans-serif;
    color: var(--maincol4);
    font-size: 0.7em;
    text-align: right;
}

#mp {
    margin-right: 70px;
    width: min(100vw, 500px);
    
}

#mp .rt > div {
    transform: rotate(-17deg);
    padding-top: 70px;
}

.rt {
    height: 220px;
    width: 100%;
}

#ssti {
    background-image: url("../res/images/jss.png");
    object-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 400px;
    
    
}

#ssti img {
    max-width: min(100vw, 500px);
    max-height: 700px;
    width: auto;
    height: auto;
    opacity: 0;
    min-width: 400px;
}

#sitmenu {
    position: absolute;
    bottom: 0;
}

#sitmenu ul {
    list-style: none;
    font-family: 'Poppins', sans-serif; 
    text-transform: uppercase;
    font-weight: 600;
}

#sitmenu i {
    float: right;
    transition: all 0.23s linear;
}

#sitmenu > ul > li {
    width: 300px;
    padding: 1em 0;
    cursor: pointer;
}

#sitmenu > ul > .spcr {
    background-color: var(--maincol4);
    padding: 0;
    height: 1px;
    cursor: default;
}

.subm li {
    height: 0;
    overflow-y: hidden;
    transition: height 0.2s linear;
}

.liclck .subm > li {
    height: 30px;
    padding: 5px 0;
  }

  .liclck i{
    transform: rotate(-180deg);
  }










@media all and (min-width: 1600px) {
    #mtchcs {
        margin: 0 calc((100vw - 90%)/2);
        
        justify-content: space-between;
        width: 90%;
        
    }

    #adbar {
        margin-bottom: calc((1600px - 100vw) * 0.95);
    }

    #adbaroverlay {
        padding-bottom: calc((1600px - 100vw) * 0.9);
    }
}






