
/* -------------------------------------------------- */
/*              Website wide general                  */
/* -------------------------------------------------- */

:root {
  --maincol1: black;
  --maincol2: #444;
  --maincol3: #EEE;

  --navbarcol: #000000b9;

  --txtbaseCol: white;
  --txtcol2: #1f1e1e;
}


html {
  padding: 0;
  
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */

   -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding:0;
  overflow-x: hidden;
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

a, li {
  text-decoration: none;
}

video {
  width: 100%;
  margin-left: 50vw;
  transform: translate(-50%);
}

#pageBody {
  width: 100%;
  height: 5000px;
  overflow-x: hidden;
  min-width: 400px;
  /* max-width: calc(100%); */
}

/* 
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Odibee Sans', cursive;
font-family: 'Poppins', sans-serif; 
*/


/* -------------------------------------------------- */
/*                     Navbar                         */
/* -------------------------------------------------- */

.sticky {
  
}

/* .sticky + .innerBody {
  padding-top: 60px;
} */


#navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 400px;
}

nav {
  background-color: var(--navbarcol);
  text-decoration: none;
  font-family: 'Poppins', sans-serif; 
  color: var(--txtbaseCol);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: height 0.4s linear;
  /* min-height: 60px; */
  
}



/* Logo */

#logodiv {
  height: calc(100% - 20px);
  padding-top: 10px;
  width: 10%;
}

#logodiv svg{
  fill: aliceblue;
  height: 100%;
}

.str0 {stroke:var(--txtbaseCol);stroke-width:71;stroke-miterlimit:22.9256}
.fil0 {fill:var(--txtbaseCol)}
.fil1 {fill:var(--txtbaseCol);fill-rule:nonzero}






