
/* -------------------------------------------------- */
/*              Website wide general                  */
/* -------------------------------------------------- */

:root {
  --maincol1: black;
  --maincol2: #444;
  --maincol3: #EEE;
  --maincol4: #9e9e9e;

  --navbarcol: #000000b9;

  --txtbaseCol: white;
  --txtcol2: #1f1e1e;

  --crnrsiz: 70px;
}


html {
  padding: 0;
  
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;

	-webkit-app-region: no-drag;

   -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding:0;
  overflow-x: hidden;
}

*, *::after, *::before {
	/* -webkit-user-select: none; */
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

a, li {
  text-decoration: none;
}

video {
  width: 100%;
  margin-left: 50vw;
  transform: translate(-50%);
}

#pageBody {
  width: 100%;
  /* height: 5000px; */
  overflow-x: hidden;
  min-width: 400px;
  /* max-width: calc(100%); */
}

@font-face {
  font-family: 'Moon Time'; 
  src: url("../res/fonts/Moon_Time/MoonTime-Regular.ttf") format("truetype");
  src: url("../res/fonts/Moon_Time/MoonTime-Regular.otf") format("opentype");
  font-weight: 400;
}


/* -------------------------------------------------- */
/*                  headers styling                   */
/* -------------------------------------------------- */


h2 {
  width: 100%;
  color: var(--txtcol2);
  /* font-family: 'Odibee Sans', cursive; */
  font-family: 'Moon Time', cursive; 
  font-weight: 400;
  font-size: 8em;
  letter-spacing: 2px;
  text-align: center;
  margin: 20px 0;
}

h3 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0px 1px black;
  padding: 15px 0;
}


/* -------------------------------------------------- */
/*                  Scroll Bar                        */
/* -------------------------------------------------- */


/* width */
::-webkit-scrollbar {
  width: 12px;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--maincol3);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--maincol2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--maincol1);
}


/* -------------------------------------------------- */
/*                     Navbar                         */
/* -------------------------------------------------- */


#navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 400px;
}

nav {
  background-color: var(--navbarcol);
  text-decoration: none;
  font-family: 'Poppins', sans-serif; 
  color: var(--txtbaseCol);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: height 0.4s linear;
  
}



/* Logo */

#logodiv {
  height: calc(100% - 20px);
  padding-top: 10px;
  width: 10%;
}

#logodiv svg{
  fill: aliceblue;
  height: 100%;
}

#logodiv path {
  stroke:var(--txtbaseCol);
  fill:var(--txtbaseCol);
  stroke-width:71;
  stroke-miterlimit:22.9256;
}


/* -------------------------------------------------- */
/*                SVG Settings                        */
/* -------------------------------------------------- */


.crscrs, .hpag, .htwo, .hshine {
  position: absolute;
}

.crscrs svg, .hpag svg, .htwo svg, .hshine svg {
  max-width: 100%;
  height: 100%;
  width: auto;
}






/* -------------------------------------------------- */
/*                Template PlaceHolder                */
/* -------------------------------------------------- */

.adbr {
  width: 100%;
  max-height: 700px;
  background-image: url("../res/images/2021_0520_16081900.jpg");
  /* content: ""; */
  height: min(calc(60vh), 700px);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
}

/* .adbr h2 {
  font-weight: 600;
  color: var(--txtbaseCol);
  text-shadow: 0 20px 20px var(--txtcol2);
  font-size: 12em;
  padding: 0;
  margin: 0;
} */

.descbr {
  height: 300px;
  width: 100%;
}

.descbr h2 {
  font-size: 5em;
  font-weight: 500;
  /* font-family: 'Poppins', sans-serif; */
}

.descbr h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}



/* -------------------------------------------------- */
/*                Contact Us                          */
/* -------------------------------------------------- */


#cntcus {
  width: 100%;
  /* height: 300px; */
  border: 1px var(--maincol3);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--maincol3);
  color: var(--maincol2);
  font-family: 'Poppins', sans-serif; 
}

#cntcus h2 {
  color: var(--maincol2);
  height: 1em;

}

#cntcus div {
  width: 300px;
  height: 200px;
}

#cntcus h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  /* margin: 10px 0; */
}

#cntcus a {
  /* text-decoration: underline; */
  color: var(--txtcol2);
  text-shadow: 0 0px 1px var(--maincol2);
  transition: all 0.2s linear;
}

#cntcus td + .und {
  user-select:text; /* supported by Chrome and Opera */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
}


#cntcus a:hover {
  color: var(--txtcol2)
}





#dets {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: var(--maincol2);
  color: var(--txtbaseCol);
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Barlow Semi Condensed', sans-serif; */
  text-align: center;
  letter-spacing: 2px;
}

#dets span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


/* Common Adbar Writing and Button */

.noi h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 0;
}

.scndbody button {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-size: 1.3em;
  width: 180px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--txtbaseCol);
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.scndbody button:hover {
  opacity: 0.75;
  box-shadow: 0 0 10px 1px var(--maincol2);
}

.scndbody button:active {
  opacity: 1;
  /* box-shadow: none; */
}

.noi div {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: relative; */
  left: 0;
  
}


/* Program and Blog */

.scndbody {
  width: 100%;
  position: relative;
  display: flex;
}



.bck {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0
}

.layr1 {z-index: -2;}
.layr2 {
  z-index: -1;
  height: 100%;
  background:
              linear-gradient(to bottom right,transparent 50%,var(--rgtBtm) 0) bottom right/calc(12vw) calc(12vw) no-repeat,
              linear-gradient(to bottom right,transparent 50%,var(--rgtBtm) 0) bottom right/calc(20vw) calc(20vw) no-repeat,
              linear-gradient(to bottom right,transparent 50%,var(--rgtBtm) 0) bottom right/calc(28vw) calc(28vw) no-repeat,

              linear-gradient(to top right,transparent 50%,var(--rgtTop) 0) top right/calc(12vw) calc(12vw) no-repeat,
              linear-gradient(to top right,transparent 50%,var(--rgtTop) 0) top right/calc(20vw) calc(20vw) no-repeat,
              linear-gradient(to top right,transparent 50%,var(--rgtTop) 0) top right/calc(28vw) calc(28vw) no-repeat,

              linear-gradient(to top left,transparent 50%,var(--lftTop) 0) top left/calc(23vw) calc(23vw) no-repeat,
              linear-gradient(to top left,transparent 50%,var(--lftTop) 0) top left/calc(40vw) calc(40vw) no-repeat,
              linear-gradient(to top left,transparent 50%,var(--lftTop) 0) top left/calc(57vw) calc(57vw) no-repeat;
}

.addspl {
  width: 100%;
  height: 440px;
}

.frgrnd #dets {
  opacity: 0;
}

.frgrnd {
  width: 100%;
  z-index: 0;
}

.cntcmain {
  height: 500px;
}

.imgban h2 {
  margin: -0.3em 0;
}

.imgban {
  position: relative;
  background-color: var(--maincol3);
  height: min(calc(70vw), 600px);  
  background-position-x: 95%;
}