.noi {
  background-image: none;
  background: none;
}

@media all and (max-width: 780px) {
  /* Used to be 780px */
    .bigm { display: none; }
    .smallm {display: flex;}
    nav {
      height: 70px;
      justify-content: space-between;
      background-color: var(--maincol1);
      transition: background-color 0.3s linear;
    }
  
    .dropdown_menu li {
      background-color: var(--maincol1);
      transition: background-color 0.3s linear;
    }
  
    #logodiv {
      padding-left: 20px;
    }
  
    #adbar {padding-top: 70px;}
    #adbaroverlay {
      margin-top: 70px;
    }
  
    #adbaroverlay > div {
      margin-top: -80px;
    }
  
    .sticky nav {
      background-color: var(--navbarcol);
    }
    
    .sticky .dropdown_menu li {
      background-color: var(--navbarcol);
    }
  
    .sticky .dropdown_menu li:hover {
      background-color: var(--maincol3);
    }
  
    


    /* Home Screen */

    .subdiv {
        margin-bottom: 30px;
    }

    

    #plangiv {
        margin-top: 0;
    }

    /* SVG Home Page */
    .comh1 {
      margin-right: 30px;
      margin-bottom: 0;
    }

    .comh2 {
      margin-right: 70px;
      margin-bottom: 0;
    }

    .comcrs {
      /* bottom: 0; */
      height: 90%;
      margin-top: 20px;
    }

    

    

    /* Template Placeholder Site */

    .adbr {
      margin-top: 70px;
    }
    
    .adbr h2 {
      font-size: 8em;
    }

    .descbr h2 {
      font-size: 3em;
    }
    
    .descbr h3 {
      font-size: 0.8em;
    }

    .layr2 {
      height: calc(100% - 70px);
      background:
                linear-gradient(to bottom right,transparent 50%,var(--rgtBtm) 0) bottom right/calc(16vw) calc(16vw) no-repeat,
                linear-gradient(to bottom right,transparent 50%,var(--rgtBtm) 0) bottom right/calc(28vw) calc(28vw) no-repeat,
                linear-gradient(to bottom right,transparent 50%,var(--rgtBtm) 0) bottom right/calc(40vw) calc(40vw) no-repeat,

                linear-gradient(to top right,transparent 50%,var(--rgtTop) 0) top right/calc(22vw) calc(22vw) no-repeat,
                linear-gradient(to top right,transparent 50%,var(--rgtTop) 0) top right/calc(22vw) calc(22vw) no-repeat,
                linear-gradient(to top right,transparent 50%,var(--rgtTop) 0) top right/calc(40vw) calc(40vw) no-repeat,

                linear-gradient(to top left,transparent 50%,var(--lftTop) 0) top left/calc(32vw) calc(32vw) no-repeat,
                linear-gradient(to top left,transparent 50%,var(--lftTop) 0) top left/calc(32vw) calc(32vw) no-repeat,
                linear-gradient(to top left,transparent 50%,var(--lftTop) 0) top left/calc(57vw) calc(57vw) no-repeat;
      margin-top: 70px;
    }


    /* Progs */

    .noi h3 {
      font-size: 0.8em;
      text-shadow: 0 0px 1px var(--maincol2);
    }

    .noi div {
      padding-left: 5px;
    }

    .scndbody button {
      font-size: 0.9em;
      width: 130px;
    }

    .progimg > div {
      width: 100%;
      padding: 0;
    }

    .innrimg {
      justify-content: center;
    }

    .addspl {
      height: 840px;
    }

    .imgban h2 {
      font-size: 4em;
      position: absolute;
      top:0;
      width: 100vw;
      padding-top: 2vw;
    }

    .conts .bultxt h3 {
      display: none;
    }

    .noi h3 {
      padding: 0;
  }

  .imgban {
    background-position-x: 89%;
  }

  .commj input[type=email] {
    width: calc(100% - 154px);
  }


  /* Blog */

  .blg h2 {
    text-align: center;
  }

  .blg h3 {
    margin-top: 50px;
    font-size: 60px;
    padding-bottom: 60px;
    background-position-y: bottom;
    background-size: 50% auto;
  }

  .smacnt {
    flex-direction: column;
  }

  .smacnt > div {
    margin: 0 auto;
  }
}